<%= form_for(:device, :html => {:id => "new_device_form", :method => 'post'}, :url => form_action) do |f| %>
  <p>
    <%= error_messages_for :device %>
    <label class="inline">AE Title</label><%= f.text_field(:ae_title) %><br />
    <label class="inline">Host</label><%= f.text_field(:host) %><br />
    <label class="inline">Port Number</label><%= f.text_field(:port_number) %><br />
    <%= submit_tag(submit_text) %>
  </p>
<% end %>
