<p>
  <div class="demographic">
    <label>Patient Name</label>
    <span class="value"><%= patient.patient_name %></span>
  </div>
  <div class="demographic">
    <label>Medical Record #</label>
    <span class="value"><%= patient.mrn %></span>
  </div>
</p>

<div class="btn-group" id="table-selector">
  <button id="table-selector-button" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button">
    <span class="title">Job #<%= job_name(job_set.jobs.first) %></span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% job_set.jobs.each_with_index do |job,i| %>
      <li class="<%= i == 0 ? 'active' : '' %>"><a href="#table-for-<%= job.job_id %>"><%= job_name(job) %></a></li>
    <% end %>
  </ul>
</div>


<% job_set.jobs.each_with_index do |job,i| %>
<div class="table-tab-container <%= i == 0 ? 'active' : '' %>" id="table-for-<%= job.job_id %>">

  <p>
    <% if job.job_transactions.last.status.status_code and job.job_transactions.last.status.status_code < 0 %>
      <%= button_to("Retry Job #{job.job_id}", "#", id: "retry_link_#{job.job_id}", class: "btn btn-primary", onclick: "retry_job('retry_link_#{job.job_id}', #{job.job_id});return false;") %>
    <% end %>
  </p>

  <%= rsna_table_for job.job_transactions.sort_by(&:transaction_id), class: "table table-bordered table-striped margin-top" do |st| %>
    <% st.column("Transaction ID") {|jt| h jt.transaction_id } %>
    <% st.column("Status Code") {|jt| h jt.status_code} %>
    <% st.column("Status Message") {|jt| h jt.status.description } %>
    <% st.column("Comments") {|jt| h jt.comments}%>
    <% st.column("Modified") {|jt| h jt.modified_date.to_s(:long) } %>
  <% end %>
</div>
<% end %>
