<%= content_for(:title, "Audit Trail") %>

<%= form_for :search, :html => {id: "filter_form", class: "form-inline", method: 'get', onsubmit: "filter_by($('#filter_form').serialize()); return false;"} do |f| %>
  <div class="form-group">
    <label>Search</label>
    <input name="filter" class="form-control" type="text" />
  </div>

  <div class="form-group">
    <label>Status Code</label>
    <input name="status_code" class="form-control" type="text" />
  </div>
  <%= submit_tag "Filter", class: "btn btn-primary" %>

  <br />
  <label for="filter">Filter by patient name, medical record number, or accession number</label><br />


<% end %>

<div id="search_spinner" class="progress progress-striped active margin-top" style="display: none; width: 560px;">
  <div class="progress-bar" style="width: 100%"></div>
</div>

<%= content_tag :div, id: "search_results", class: "margin-top" do %>
  <%= render :partial => "admin/transaction_list", :locals => {job_stati: @job_stati, limit: @limit, offset: @offset, count: @count} %>
<% end %>

<div id="audit-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" role="button">&times;</button>
        <h4 class="modal-title">Audit Details</h4>
      </div>
      <div class="modal-body">
	<div id="dialog-spinner" class="progress progress-striped active margin-top" style="display: none; width: 100%;">
	  <div class="progress-bar" style="width: 100%"></div>
	</div>

	<div class="results"></div>
      </div>
    </div>
  </div>
</div>

