<%= content_for(:title, "Audit Trail") %>

<%= form_for :search, :html => {:id => "filter_form", :method => 'get', :style => "margin-bottom: 30px;", :onsubmit => "filter_by($('#filter_form').serialize()); return false;"} do |f| %>
  <p>
    <input name="filter" class="search" type="text" size="30" />
    <%= submit_tag "Filter" %><br />
    <label for="filter">Filter by patient name, medical record number, or accession number</label>
  </p>

<% end %>
<%= image_tag "/images/ajax-loader.gif", :style => "display: none;", :id => "search_spinner" %>
<%= content_tag :div, :id => "search_results" do %>
  <%= render :partial => "admin/transaction_list", :locals => {:job_stati => @job_stati} %>
<% end %>

<% content_for(:body) do %>
<div class="contentDialog" id="auditDialog">
  <a id="dialogClose">x</a>
  <h1>Audit Details</h1>
  <div id="auditDialogContent"></div>
</div>
<div id="backgroundDialog"></div>
<script language="javascript">
  $("#dialogClose").click(function() { close_dialog($("#auditDialog")); });
</script>
<% end %>
