<a href="<%= url_for action: 'index' %>" class="btn btn-primary" role="button">Back</a>
<h2>PDF Template Help</h2>

<h3>Required Software</h3>
<p><span class="c1">PDF editor such as Adobe Acrobat Pro</span></p>
<p class="c0 c3"><span class="c1"></span></p>
<p><span class="c1">The PDF template feature allows sites to customize patient reports being sent to the Clearinghouse. This feature merges an existing PDF with the organization&#39;s identity such as design and logos then overlays reporting text onto it. The report text can be placed anywhere on the PDF using placeholders. The following report placeholders are available for placement:</span></p>
<p class="c0 c3"><span></span></p>
<p><span class="monospace">name</span><span>&nbsp;- Patient&rsquo;s full name</span></p>
<p><span class="monospace">mrn</span><span>&nbsp;- Patient&rsquo;s MRN</span></p>
<p><span class="monospace">accession</span><span>&nbsp;- Accession number associated with the report</span></p>
<p><span class="monospace">exam-date</span><span>&nbsp;- Date of the exam</span></p>
<p><span class="monospace">description</span><span>&nbsp;- Description of the exam</span></p>
<p><span class="monospace">body</span><span>&nbsp;- Report text</span></p><p class="c0 c3"><span></span></p>
<p><span>The body field is required. All other fields are optional and may be omitted. </span></p>
<p><span></span></p>
<p><span>This is an optional feature and can be turn on/off by setting pdf-template to true/false under Admin-&gt;Configuration. If set to false, a plain report will be sent without any formatting. </span></p>

<h3>Preparing the PDF template</h3>

<p><span>For this example, we will use Adobe Acrobat Pro as the editor. To add text placeholders, follow the instructions below.</span></p>
<p><span></span></p>
<p><span>Open an existing PDF file that contains your organization&rsquo;s logo. </span></p><p><span></span></p>
<p><span></span></p>
<p><span>Click on Tools -&gt; Expand the Forms section -&gt; Select Edit.</span></p>
<%= image_tag("image03.png") %>
</p>
<p><span></span></p>
<p><span>&nbsp;</span></p>
<p><span></span></p>
<p><span></span></p>
<p><span>Next Click on Add New Field -&gt; Click on Text Field</span></p>
<p><span></span></p>
<%= image_tag("image02.png") %>
<p><span>Select any location on the PDF where you want the placement of text. Double click the text of the field to change the name. Rename the field to </span><span>name</span><span>. </span></p>
<%= image_tag("image01.png") %>
<p><span></span></p>
<p><span>Repeat the previous steps for </span><span>mrn</span><span>, </span><span>accession</span><span>,</span><span>&nbsp;exam-date</span><span>,</span><span>description</span><span>&nbsp;and </span><span>body</span><span>. </span></p>
<p><span></span></p>
<p><span>For the </span><span>body</span><span>&nbsp;placeholder, enlarge the field to the width of the PDF taking into account the desired margin width. The report will automatically span to multiple pages for long reports.</span></p>
<p><span></span></p>
<%= image_tag("image00.png") %>
<p><span></span></p>
<p><span></span></p>
<p><span>Save the changes and upload to Admin-&gt;PDF Template.</span></p>
<p><span></span></p>
<%= image_tag("template.png") %>
