<%= error_messages_for :user %>

<% form_tag({:action => "users", :controller => "reset_password"}, {:id => 'reset_password_form', :style => "display: inline;", :onsubmit => "reset_password($('#reset_password_form')); return false;"}) do %>
<%= hidden_field :user, :id, :value => @user.id %>
<p><%= label_tag 'password' %><br/>
<%= password_field :user, :password %></p>

<p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
<%= password_field :user, :password_confirmation %></p>

<p><%= submit_tag 'Reset Password' %></p>
<% end %>
