<%= error_messages_for :user %>

<%= form_tag({controller: "users", action: "reset_password"}, {id: 'reset_password_form', class: "form", onsubmit: "reset_password($('#reset_password_form')); return false;"}) do %>

<%= hidden_field :user, :id, value: @user.id %>

  <div class="form-group">
    <%= label_tag 'password' %>
    <%= password_field :user, :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag 'password_confirmation', 'Confirm Password' %>
    <%= password_field :user, :password_confirmation, class: "form-control" %>
  </div>

  <div class="form-group margin-top">
    <%= submit_tag 'Reset Password', class: "btn btn-primary" %>
  </div>

<% end %>
