<% content_for(:title, "Change Password") %>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<%= form_for :user, :url => "/change_password" do |f| -%>

<p><%= label_tag 'password' %><br/>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag 'Change Password' %></p>
<% end %>
