<% content_for(:title, "Change Password") %>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>

<%= form_for :user, url: url_for(controller: :users, action: :change_password) do |f| %>

  <div class="form-group">
    <%= label_tag 'password' %>
    <%= password_field :user, :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag 'password_confirmation', 'Confirm Password' %>
    <%= password_field :user, :password_confirmation, class: "form-control" %>
  </div>

  <div class="form-group margin-top">
    <%= submit_tag 'Reset Password', class: "btn btn-primary" %>
  </div>

<% end %>
