<% content_for(:title, "Search for Patients") %>
<%= form_for :search, :html => {:id => "search_form", :method => 'get', :style => "margin-bottom: 30px;", :onsubmit => "search_by($('#search_form').serialize()); return false;"} do |f| %>
  <p>
    <input name="search" class="search" type="text" size="30" />
    <%= submit_tag "Search" %><br />
    <label for="search">Search by patient name, medical record number, or RSNA ID</label>
    <input name="search_type" type="hidden" value="simple" />
    <br />
    <%= link_to("Advanced Search", "#", :onclick => "toggle_search_form();", :class => "search-type-toggle") %>
  </p>
<% end %>

<%= form_for :search, :html => {:id => "advanced_search_form", :method => 'get', :class => "search-form", :onsubmit => "search_by($('#advanced_search_form').serialize()); return false;"} do %>
  <p>
    <div class="field-row">
      <label class="inline">MRN:</label><input name="mrn" type="text" size="15" />
    </div>
    <div class="field-row">
      <label class="inline">Patient Name:</label><input name="patient_name" type="text" size="30" />
    </div>
    <input name="search_type" type="hidden" value="advanced" />
    <%= submit_tag("Search") %>
    <br />
    <%= link_to("Simple Search", "#", :onclick => "toggle_search_form();", :class => "search-type-toggle") %>
  </p>
<% end %>

<%= image_tag "/images/ajax-loader.gif", :style => "display: none;", :id => "search_spinner" %>
<%= content_tag :div, "", :id => "search_results" %>

<%= content_for(:body) do %>
  <%= render :partial => "patients/consent_dialog", :locals => {} %>
<% end %>
