<div id="cart-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" role="button">&times;</button>
        <h4 class="modal-title">Send Cart</h4>
      </div>
      <div class="modal-body" id="cart-dialog">

	  <div id="errorExplanation" style="display: none;">
	    <h2>Errors occured while trying to send the cart</h2>
	    <p>There was a problem with the following fields</p>
	    <ul>
	    </ul>
	  </div>
	  <%= form_tag({action: "send_cart", controller: "exams"}, {id: 'cart-form', role: "form", style: "display: inline;"}) do %>
	  <% exams.each do |exam| %>
	    <%= hidden_field_tag "exam_ids[]", exam.id %>
	  <% end %>

	  <div id="cart-send-type-dialog">
	    <div class="row">
	      <div class="col-md-6 center">
		Send the exams so that the patient can collect them from a PHR.
	      </div>
	      <div class="col-md-6 center">
		Send the exams so that the another site can collect them.
	      </div>
	    </div>

	    <div class="row">
	      <div class="col-md-6 center">
		<input type="button" value="Send to Patient" class="send-type-choice btn btn-primary" />
	      </div>
	      <div class="col-md-6 center">
		<input type="button" value="Send to Site" class="send-type-choice btn btn-primary" data="site-to-site" />
	      </div>
	    </div>
	    <input type="hidden" value="" name="send_type" />
	  </div>

	  <!-- Previously sent scenario -->
	  <div id="cart-use-previous-dialog" style="display: none;">
	    <p>This patient already has an account. Would you like to use the patient's previous access code and email address (<%= @patient.rsna_id_email %>)?</p>
	    <input type="button" value="Yes" class="use-old-button btn btn-primary" />
	    <input type="button" value="No" class="use-old-button btn btn-default" />
	  </div>

	  <!-- Send urgency dialog -->
	  <div id="cart-send-dialog" style="display: none;">
	    <div class="container-fluid">
	      <div class="row">

		<div class="col-xs-4 center">
		  By choosing this option each exam will be subject to a delay period before it is sent.
		  This gives the doctor a chance to speak with the patient before he or she get the results.
		</div>

		<div class="col-xs-4 center">
		  By choosing this option each exam will be sent as soon as its final report is available.
		  This means that the doctor may not have a chance to speak with the patient before he or she get the results.
		</div>

		<div class="col-xs-4 center">
		  By choosing this option each exam will be sent immediately. Even if there is no final report available.
		</div>

	      </div>

	      <div class="row">
		<div class="col-xs-4 center">
		  <%= link_to("Routine", "#", class: "send-cart-button btn btn-primary", data: 0) %>
		</div>

		<div class="col-xs-4 center">
		  <%= link_to("When final report available", "#", class: "send-cart-button btn btn-primary", data: 1) %>
		</div>

		<div class="col-xs-4 center">
		  <%= link_to("Immediately", "#", class: "send-cart-button btn btn-primary", data: 2) %>
		</div>
	      </div>
	    </div>

	    <input type="hidden" name="override_delay" value="0" />
	  </div>

	  <!-- Enter email address dialog -->
	  <div id="cart-email-dialog" style="display: none;">
	    <p>Please enter the patient's email address.</p>
	    <div class="form-group">
              <label>Patient's Email</label>
              <input class="form-control" name="email" type="text" value="<%= @exams.first.patient.rsna_id_email || @patient.email_address %>" />
	    </div>

	    <%= submit_tag("Next", id: "validate-email-button", class: "btn btn-primary") %>
	  </div>

	  <!-- submission spinner -->
	  <div id="submit_spinner" class="progress progress-striped active margin-top" style="display: none; width: 100%;">
	    <div class="progress-bar" style="width: 100%"></div>
	  </div>

	  <% end %>
	</div>
      </div>
    </div>
  </div>
</div>
