<h1>Cart Queued for Sending</h1>

<div class="demographic">
  <label>Patient Name:</label>
  <span><%= @patient.patient_name %></span>
</div>

<div class="demographic">
  <label>Access Code:</label>
  <span><%= format_token(@job_set.send_components[:access_code]) %></span>
</div>

<div class="demographic">
  <label>Date of Birth:</label>
  <span><%= @patient.dob %></span>
</div>

<% if @job_set.logic_type == :send_to_site %>
<div class="demographic">
  <label>Token:</label>
  <span><%= format_token(@job_set.send_components[:token]) %></span>
</div>
<% else %>
<div class="demographic">
  <label>Email Address:</label>
  <span><%= @job_set.send_components[:email_address] %></span>
</div>
<% end %>

<%= link_to("Print", {:controller => :exams, :action => :index, logic_type: @job_set.logic_type, :patient_id => @patient.id}.merge(@job_set.send_components), class: "btn btn-primary") %>

