<%= content_for(:title, "Exams for #{@patient.patient_name}") %>

<%= button_to("Reprint Token", "#", onclick: "window.open('#{url_for(:controller => :exams, :action => :print_patient_info, :token => params[:token], :email_address => params[:email_address])}');return false;") if @autoprint_rsna_id %>

<%= form_for :search, :html => {:id => "filter_form", :method => 'get', :style => "margin-bottom: 30px;", :onsubmit => "search_or_filter('/exams/filter',$('#filter_form').serialize()); return false;"} do |f| %>
  <table border="0" cellspacing="0" cellpadding="2">
    <tbody>
      <tr>
	<td><label for="filter"><strong>Exam description</strong></label></td>
	<td><input name="filter" class="search" type="text" size="30" /></td>
      </tr>
      <tr>
	<td><strong>Show Cancelled Exams?</strong></td>
	<td><input type="checkbox" name="show_cancelled" /></td>
      </tr>
    </tbody>
  </table>
  <%= submit_tag "Filter" %>

<% end %>
<%= image_tag "/images/ajax-loader.gif", :style => "display: none;", :id => "search_spinner" %>
<% content_tag :div, :id => "search_results" do %>
  <%= render :partial => "exams/results", :locals => {:exams => @exams, :patient => @patient} %>
<% end %>

<%= javascript_tag("window.open('/exams/print_patient_info?token=#{params[:token]}&email_address=#{params[:email_address]}');") if @autoprint_rsna_id %>
