<%= content_for(:title, "Exams for #{@patient.patient_name}") %>

<%= link_to("Reprint Token", "#", class: "btn btn-primary", onclick: "window.open('#{url_for({:controller => :exams, :action => :print_patient_info}.merge(@send_components))};return false;") if @autoprint_rsna_id %>

<%= form_for :search, :html => {id: "filter_form", method: 'get', class: "form-inline", onsubmit: "search_or_filter('/exams/filter',$('#filter_form').serialize()); return false;"} do |f| %>
  <div class="form-group">
    <label for="filter">Exam description</label>
    <input name="filter" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="show_cancelled"><input type="checkbox" name="show_cancelled" /> Show Cancelled Exams?</label>
  </div>

  <%= submit_tag "Filter", class: "btn btn-primary" %>

<% end %>

<div id="search_spinner" class="progress progress-striped active margin-top" style="display: none; width: 560px;">
  <div class="progress-bar" style="width: 100%"></div>
</div>

<%= button_to("Select All","#", id: "select-all-button", class: "btn btn-primary") %>

<%= content_tag :div, id: "search_results", class: "margin-top" do %>
  <%= render partial: "exams/results", locals: {exams: @exams, patient: @patient} %>
<% end %>

<%= javascript_tag("window.open('#{url_for({controller: :exams, action: :print_patient_info}.merge(@send_components))}');") if @autoprint_rsna_id %>
