<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>RSNA Edge</title>

    <%= stylesheet_link_tag "sti-edge","som_table_styles" %>
    <!--//[if ie lte 6]>
	<style type="text/css">
/* IE6 css fixes %/
#main-container
{ position: relative; background-color: #1e222b; overflow: visible; }


/* add display:inline to floated elements */
.tab-controller,
.tabs li,
.tabs,
.tabs li a,
#image_share_logo {display:inline;}

/* convert min height values */
#main-container {height:100%;}


/* fix negative margins */
div.footer,
#errorExplanation h2 {position:relative; zoom:1;}

/* add zoom:1 to pos:relative elements */
#main-container,
div.corner-logo,
.tab-controller,
.tabs li,
#image_share_logo {zoom:1;}

/* add transparancy */
.tab-controller {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);}
.tab-controller:hover,.tab-controllers .active {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);}


/* add zoom:1; display:inline; to inline-block elements */
.tabs li,
label.inline,div.demographic label {zoom:1; display:inline;}

/* add overflow:visible to (submit) buttons */
input, button {overflow:visible;}

div.footer {display: none;}
#main-container { overflow: visible; }
	</style>
    <![endif]-->


    <%= javascript_include_tag "jquery-1.4.2.min.js" %>
    <%= javascript_include_tag "jquery.tablesorter.min.js" %>
    <%= javascript_include_tag "application.js" %>
    <%= yield(:javascript_includes) %>
    <script type="text/javascript" src="/javascripts/shadedborder/shadedborder.js"></script>
    <script type="text/javascript">
      var border = RUZEE.ShadedBorder.create({ corner:5, shadow:16,  border:2 });
      var tab_controller = RUZEE.ShadedBorder.create({ corner:10});
      var tab_border = RUZEE.ShadedBorder.create({ corner:5,  border:2, edges:"blr" });
      var splitBorderTop = RUZEE.ShadedBorder.create({ corner:10, edges:"tlr" });
      var splitBorderBottom = RUZEE.ShadedBorder.create({ corner:10, edges:"blr" });

</script>

  </head>

  <body>
    <div id="main-container">
      <div class="header">
	<img src="/images/rsna-image-share.png" class="rsna-edge" />
	<div class="tab-controllers">
	  <%= tab_controller(:clinical, :controller => :patients, :action => :new) if logged_in? %>
	  <%= tab_controller(:administrative, :controller => :admin, :action => :audit) if params[:controller] != "sessions" and rights?(1) %>
	</div>
	<% logged_in_user? do %>
	  <%= render :partial => "layouts/tabs" %>
	<% end %>
      </div>

      <div class="main">
	<div class="container">
	  <h1 id="main_title"><span><%= yield(:title) %></span></h1>
	  <div id="contents">
	    <div id="flash-notice"><%= flash[:notice] %></div>
	    <%= yield %>
	    <div class="corner-logo"><%= image_tag("/images/nibib-logo.png") %></div>
	  </div>
	</div>
      </div>
    </div>
    <%= yield(:body) %>
    <div class="footer">
      <img src="/images/footer-hand.png" />
    </div>
  </body>
</html>
