<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>RSNA Edge</title>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application.js" %>
    <%= yield(:javascript_includes) %>

  </head>

  <body>
    <div id="title-header" class="container-fluid">
      <div class="row">
	<div class="col-xs-12">
	  <%= image_tag("IMageShareLogo.png") %>
	</div>
      </div>
    </div>

    <div id="primary-navbar" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <ul class="nav navbar-nav pull-right">
	<%= global_navigation_link("Patient Search", {controller: :patients, action: :new}, {controller: :patients, action: :index}) %>

	<% patient? do %>
	  <%= global_navigation_link("Exams", controller: "exams", action: "index") %>
	  <%= global_navigation_link("View Cart (<span class=\"cart-count\">#{@cart ? @cart.size : 0}</span>)".html_safe, controller: :exams, action: :show_cart) %>
	<% end %>

	<%= global_navigation_link("Retrieve", controller: :patients, action: :xds_import) %>
	<%= global_navigation_link("Research Send", controller: :patients, action: :xds_export) %>

	<% admin? do %>
	  <% ["admin","tail","devices","edge_configurations","users"].include?(params[:controller]) and params[:action] != "change_password" ? active = "active" : active = "" %>
	  <li class="dropdown <%= active %>">
	    <a href="#" id="global-button-goverance" role="button" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
	    <ul class="dropdown-menu" role="menu" aria-labelledby="global-button-warehouse">
	      <% super? do %>
	        <%= global_navigation_link("Audit Trail", controller: :admin, action: :audit) %>
              <% end %>

	      <%= global_navigation_link("Logs", controller: :tail) %>
	      <%= global_navigation_link("Devices", controller: :devices) %>
	      <%= global_navigation_link("Configuration", controller: :edge_configurations, action: :index) %>
	      <%= global_navigation_link("Email Configuration", controller: :email_configurations, action: :edit_email_configuration) %>
	      <%= global_navigation_link("Advanced Email Config", controller: :email_configurations, action: :index) %>
	      <%= global_navigation_link("Test Email Config", controller: :email_configurations, action: :test) %>
	    </ul>
	  </li>
	<% end %>

        <li><%= link_to("Log Out", SSO::logout_url.to_s) %></li>
      </ul>
    </div>
  </div>

    <div id="main" class="container-fluid">
      <div class="row">
	<div class="col-xs-12">
	  <div class="page-header">
	    <h1 id="page-header"><%= yield(:title) %></h1>
	    <%= flash[:notice] %>
	  </div>

	  <%= yield %>
	</div>
      </div>
    </div>

    <div id="footer" class="navbar-fixed-bottom">
      <div class="container">
	<div class="row">
	  <div class="col-sm-12 center">
	    &copy; 2014 Radiological Society of North America.
	    Support: <a href="http://www.RSNA.org/Image_Share.aspx" target="_new">RSNA.org/Image_Share.aspx</a>
	    <a href="mailto:helpdesk@imsharing.org">helpdesk@imsharing.org</a> |
	    Toll-free: 1-855-IM-Sharing (467-4274)
	    <span class="margin-left">An NIBIB funded Project <%= image_tag("nibib-logo.png") %></sp>
	  </div>
	</div>
      </div>
    </div>
  </body>

</html>
